    
    
        h1 {
         color:rgb(0, 0, 0);
         font-family: Montserrat, sans-serif;
         font-size: 2em;
        
        }
        body {
         background-color: rgb(255, 254, 249);
         font-size: 20px;
         transition: 0.3s;
         margin: 0;
         padding: 0;
        }

        p {
            font-family: monospace, sans-serif;
            

        }
        #foto1 {
            width: 200px;
            position: absolute;
            top: 150px;
            left: 900px; 
            border-radius: 300px;
            
        }

        .link-git:hover {
            color: rgb(207, 8, 141);
        }
        .link-linkedin:hover {
            color: rgb(207, 8, 141);
        }
        
        .link-git {
            position: absolute;
            left: 920px;
            font-size: 18px;
            color: black;
            text-decoration: none;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            
        }
        .link-linkedin {
            position: absolute;
            left: 1000px;
            font-size: 18px;
            color: black;
            text-decoration: none;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
         
        .switch {
            width: 80px;
            height: 40px;
            border-radius: 20px;
            background-color: rgb(31, 31, 31);
            position: relative;
        }

        .flicker {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
            position: absolute;
            top: 5px;
            left: 5px;
            box-shadow: 
            inset 4px 4px 4px rgb(255, 255, 255),
            inset -4px -4px 4px rgb(195 193 198 / 90%);
            transition: 0.3s;
        }

        .dark {
            background-color: rgb(57, 57, 57);
            transition: 0.3s;
        }

        .moon {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
            position: absolute;
            top: 5px;
            left: 45px;
        }

        .dark .flicker {
            transform: translateX(40px);
            
        }
        .main {
            height: 80vh;

        }
        .main-text {
            width: 50%;
            padding: 30px;
         
            

        }