    
    
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
        * {
            margin: 0;
            padding: 0;
        }
        
        h1 {
         color:rgb(31, 31, 31);
         font-family: 'Montserrat', sans-serif;
         font-size: 43px;
        
        }
        body {
         background-color: rgb(255, 255, 255);
         font-size: 20px;
         transition: 0.3s;
         margin-left: 22%;
         margin-top: 2%;

        }
        .texto {
            font-family: 'Montserrat', sans-serif;
        }

        #foto1 {
            
            border-radius: 300px;
            width: 210px;
            margin-left: 610px;
            position: relative;
            top: -30px;
    
        }

        .link-git:hover {
            color: rgb(24, 181, 187);
        }
        .link-linkedin:hover {
            color: rgb(24, 181, 187);
        }
        
        .link-git {
            font-size: 14px;
            color: black;
            text-decoration: none;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            
        }
        .link-linkedin {
     
            font-size: 14px;
            color: black;
            text-decoration: none;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
         
        .switch {
            width: 80px;
            height: 40px;
            border-radius: 20px;
            background-color: rgb(31, 31, 31);
            position: relative;
        }

        .flicker {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
            position: absolute;
            top: 5px;
            left: 5px;
            box-shadow: 
            inset 4px 4px 4px rgb(255, 255, 255),
            inset -4px -4px 4px rgb(195 193 198 / 90%);
            transition: 0.3s;
        }

        .dark {
            background-color: rgb(57, 57, 57);
            transition: 0.3s;
        }

        .moon {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
            position: absolute;
            top: 5px;
            left: 45px;
        }

        .dark .flicker {
            transform: translateX(40px);
            
        }


        